.menuBar {
    clear: both;
}

.input-fieldA {
    width: 90%;
}

.input-fieldC {
    width: 90%;
    min-height: 300px;
}

.hide-menu {
    display: none;
}

.blog-box {
    margin: 5px;
}

.blog-menu {
    margin: 10px;
}

.blog-row {
    margin-left: 10px;
    margin-bottom: 10px;
}